.detailproduct img {
    height: 400px;
    border-radius: 40px;
}

div.banner-product {
    height: 66px;
}

div.pictureView img {
    width: 550px;
    height: 400px;
    border-radius: 40px;
    margin-right: 20px;
}

div.Sendmail h2 {
    font-size: 22px;
}

div.news {
    height: 350px;
}

div.news h3 {
    text-transform: uppercase;
}

div.product {
    text-align: center;
}

div.product img{
    height: 150px;
    width: 250px;
    border-radius: 20px
}
div.discount {
    position: relative;
    display: inline-block;
}
span.status{
    border-bottom-right-radius: 20px;
}
div.imgage {
    display: inline-block;
    position: relative;
    height: 150px;
}

.list-cate li {
    display: block;
    margin-bottom: 20px
}
span.priceStyle{
    font-size:25px!important;
    text-decoration-line: line-through!important;
    color: #4C5B5C!important;
}
span.priceStyle2{
    color: red!important;
}
input.textInfo-2,
input.textInfo{
    width: 200px;
    display: block;
    font-size: 13px;
}
input.textInfo-2{
    width: 350px!important;
}
.form-bill {
    height: 35px!important;
}
table#checkout td{
    padding-right: 10px;
}

.form-2{
    height: 38px!important;
}













