.a{
    width: 250px;
    margin: 10px;
    display: inline-block;
}
.ab{
    width: 100px;
    margin: 10px;
    float: right;
}
th,tr{
    text-align: center;
}
input.order {
    width: 50px;
    text-align: center;
}
.dropdown-menu{
    min-width: 155px;
}
.dropdown-menu a {
    margin-left: 7px;
}
#edit{
    font-size: 20px;
}
